node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.env
.env.*
dist
coverage
.vscode
.idea
test
*.spec.ts
*.test.ts
*.gen.ts
*.gen.js
!graphql-codegen.config.ts
.yarn/cache
.yarn/install-state.gz
README.md
LICENSE